.main-menu ul a{
    text-decoration: none;
    color:black;
    font-weight: 700;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.index-body{
    background-color: #ddd;
}
a{
    text-decoration: none;
    color:black;
}

.main-menu ul li.active a{
    color:white;
}
ul{
    list-style-type: none;
}


.row {
       width:100%;
       display:flex;
       flex-wrap:wrap;
}

.col-1 {
    width:8.33%
}
.col-2 {
    width:16.66%
}
.col-3 {
    width:25%
}
.col-4 {
    width:33.33%
}
.col-5 {
    width:41.66%
}
.col-6 {
    width:50%
}
.col-7 {
    width:58.33%
}
.col-8 {
    width:66.66%
}
.col-9 {
    width:75%
}
.col-10 {
    width:83.33%
}
.col-11 {
    width:91.66%
}

.sub-title{
    background-color: blueviolet;
    display:inline-block;
    padding:4px 10;
}
.btn{
    background-color: blueviolet;
    padding:6px 10px;
    border-radius: 12px;
    margin-top:5px;
    display:inline-block; 
    font-size:10px;
    color:white;
    font-family: Centaur; 
}
/*.light-bgn{
    background-color: blueviolet;
}
 /*.light-bgn{
    background-color: gray;
} */
#profile-name{
    -webkit-text-stroke: 1px blueviolet;
    color:white;
}
/* h4{   display:inline-block;
font:
} */

h1,h2,h3,h4,h5,h6,p,body{
    margin:0;
}

.home{
    margin:auto 0;
 }
 .home-text{
      padding:70px;
 }
 p{
    font-size: 12px;
    padding:10px 0;
 }
 .title1{
    font-size:40px;
 }
 .main-menu-bg{ 
    background-color:blueviolet;
 }
  .main-menu img{ 
           width:200px;
           padding:20px 30px 20px 30px; 
           background-color: #dddd;
  }
  /* padding:20px 20px 31px 20px; */
  .main-menu ul{
    padding:5px 20px 31px 20px;
    background-color:blueviolet;
    text-align: center;
    line-height: 1rem;
  }
  .main-title-bg{
    background-color: #dddd;
  }
  .main-title{
    padding:28px 60px;
 }

  .title{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    border:1.5px dotted gray;
    padding: 10px;
    font-weight: 900;
    font-family:'Roboto',sans-serif; 
  }
.pre-title{
    padding:28px 14px;
  }
.pre-title h2{
    font-weight: 100;
}
.pre-title > h2 > span{
    font-weight: 800;
}
.exp{
    background-color: black;
    color:blueviolet;
    padding: 20px;
    text-align: center;
}
/* .exp .row .col-6 .o{  
    padding:16px;
}*/
body > div > div.col-9.main-title-bg > div > div.row {
    padding: 10px;
}
.exp{
    font-size: 20px;
    padding: 40px 2px 2px 0px;
}
.exp p{
   padding: 0px 8px 65px 8px;
}
.exp p{ 
    color:white;
    font-size:8px;
    text-transform: uppercase;
}
/*.pp{ 
    padding: 0px 0px  0px 50px;
}*/
.expo{
    padding: 0px 36px;
}
.expo>div{
    display:flex;
    padding:0px 0px 0px 0px;
}
.expo h2{
    padding:0px 0px 20px 0px;
}
/*.fa-xl {
    font-size: 2em;
    line-height: .04167em;
    vertical-align: -.125em;
}*/
.expo>div>div{
    padding: 0px 0px  0px 26px;
}
.expo p{
    font-size:10px;
}
.expo h4{
    padding: 0px 0px 3px 0px; 
    text-align: justify;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Roboto',sans-serif;
}
.expo>div .fa-solid{
    font-size:2em;
}
.sp{
    padding:10px 0px 8px 0px;
}
.ba{
    background-color: blueviolet;
    padding:4px 7px;
    margin-top:5px;
    display:inline-block; 
    font-size:10px;
    color:white;
    font-family: Centaur;
}
.sp>.ba>p{
    padding:16px 10px;
    text-align: end;
}
/*.res .sp>.row>.col-4{
    padding:10px 10px;
    text-align: end;
}*/
/*body > div.row > div.col-9.main-title-bg > div > div:nth-child(2) > div > div:nth-child(1) > p{
    padding:1px 30px 3px 3px;
    text-align: justify;
}*/
.ppp{
    padding:1px 30px 3px 3px;
    text-align: justify;
}
body > div.row > div.col-9.main-title-bg > div > div:nth-child(2) > div > div:nth-child(2) > p{
    padding:1px 30px 3px 3px;
    text-align: justify;
}
body > div.row > div.col-9.main-title-bg > div > div:nth-child(2) > div > div:nth-child(3) > p{
    padding:1px 30px 3px 3px;
    text-align: justify;
}
body > div.row > div.col-9.main-title-bg > div > div:nth-child(4) > div > div:nth-child(1) > p{
    padding:1px 30px 3px 3px;
    text-align: justify;
}
body > div.row > div.col-9.main-title-bg > div > div:nth-child(4) > div > div:nth-child(2) > p{
    padding:1px 30px 3px 3px;
    text-align: justify;
}
body > div.row > div.col-9.main-title-bg > div > div:nth-child(4) > div > div:nth-child(3) > p{
    padding:1px 30px 3px 3px;
    text-align: justify;
}
/*.res>.row>.col-4{
    padding:16px 10px;
}
.res>.row>.col-4>p{
    text-align: justify;
}*/
body > div.row > div.col-9.main-title-bg > div > div.row.contact-icons{
    padding:50px 16px 40px 16px;
}
.contact-icons .col-9{
margin-top:-25px;
}
body > div.row > div.col-9.main-title-bg > div > div.row.contact-icons > div:nth-child(1) > div > div.col-3 > i{
        font-size: 2.5em;
        line-height: .03125em;
        vertical-align: -.1875em;
}
body > div.row > div.col-9.main-title-bg > div > div.row.contact-icons > div:nth-child(2) > div > div.col-3 > i{
    font-size: 2.5em;
        line-height: .03125em;
        vertical-align: -.1875em;
}
body > div.row > div.col-9.main-title-bg > div > h3{
    text-align:center ;
    padding:20px 0 ;
    text-transform:uppercase ;
    font-weight:800 ;
    letter-spacing:4px;
    font-family: 'Roboto',sans-serif;
}
.testimonials img{
float:left;
padding: 10px 30px 10px 0px;;
}
.testimonials-text{
    padding:16px 14px;
}
.testimonials-text h2{
     padding:0px 0px 5px 0px;
     color:blueviolet;
}
.testimonials-text h5{
    padding:0px 0px 5px 0px;
    text-transform: uppercase;
    font-size: 9px;
}
.testimonials{
    background-color: black;
    padding:16px;
    margin:12px;
    color:white;
}
.testimonials-text p{
    font-size: 10px;
    text-align: justify;
}
.rating{
    padding: 10px 12px;
}
.portfolio ul{
text-align:center;
font-family: 'Roboto',sans-serif;
font-weight: 600;
}
.portfolio ul li{
    padding:10px 12px;
    display:inline-block;
    margin:0 10px;
}
.portfolio .active{
    color:rgb(191, 169, 211);
    font-weight: 900;
}
.buttons ul{
    list-style: none;
    padding: 0;
    text-align: center;
}
.buttons ul li{
    display: inline-block;
    margin: 5px;
}
.buttons ul li a{
    display: inline-block;
    background-color: blueviolet;
    color: white;
    padding: 12px 20px;
    font-size:16px;
    text-decoration: none;
    border-radius: 50px;
    transition:all 0.3s ease-in-out;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}
.buttons ul li a:hover{
   background-color: darkviolet;
   transform: scale(1.05);
}
.buttons ul li.active a{
    background-color: rgb(46, 18, 46);
}
.button-container{
    text-align: center;
    margin-bottom: 20px;
}

.button-container a{
    display: inline-block;
    background-color: rgb(72, 4, 72);
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 50px;
    transition:all 0.3s ease-in-out;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    margin:5px
}
.button-container a:hover{
    background-color: #3f084e;
    transform:scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.highlight-section{
    padding: 20px;
    transition: 0.5s;
}
.highlight-section:target{
    outline:3px solid #54064f;
    padding:25px;
}
.immi{
    border:3px solid blueviolet;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
/*.buttons{
    text-align: center;
    margin-bottom: 20px;
}
.buttons input{
    display: none;
}
.buttons label{
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    border-radius:5px;
    background-color: blueviolet;
    color:white;
    display: inline-block;
    cursor: pointer;
}
.buttons label:hover{
    background-color: rgb(27, 5, 47);
}
/*.image-container{
    display: grid;
    /*flex-direction: column;
    gap: 15px;
    align-items: center;*/
   /* grid-template-columns: repeat(2,150px);
    justify-content: center;
}

.image{
    display: block;
    grid-template-columns: repeat(2,150px);
   /* flex-wrap: wrap;*/
    /*gap: 15px;
}
.image-container image{
    width: 400px;
    height: 200px;
    object-fit: cover;
    border: 10px;
}
 .graphical,.web,.photo{
    display: none;
}
.image-row{
    display: flex;
    text-align: center;
}
#all:target,#graphical
#all:target,#web
#all:target,#photo{
    display: block;
    /*justify-content: center;
    gap: 15px;*/
/* } 
#graphical:target .graphical{
    display: block;
}
#photo:target .photo{
    display: block;
}*/
/*#graphical:checked
~.image-container .image:not(.graphical),
#web:checked
~.image-container .image:not(.web),
#photo:checked~.image-container .image:not(.photo){
    display:none;
}
.hidden{
    display:none;
}
.image>div{
    width: 450%;
    text-align: center;
}
.image img{
    width:90%;
    height: auto;
    max-width: 200px;
}

/*.icon-symbol-i{
    position:fixed;
    top:140px;
    right:-54px;
}
.icon-symbol-i ul{
    background-color: blueviolet;
    padding-top: 0px;
    padding-left:10px ;
    padding-bottom:0px ;
    padding-right:10px ;
    border-radius: 15px;
    margin-top:1px;
}
.icon-symbol-a{
    position:fixed;
    top:140px;
    right:-40px;
}
.icon-symbol-r{
    position:fixed;
    top:140px;
    right:-97px;
}
.icon-symbol-p{
    position:fixed;
    top:140px;
    right:-40px;
}
.icon-symbol-c{
    position:fixed;
    top:125px;
    right:-40px;
}
.icon-symbol-t{
    position:fixed;
    top:140px;
    right:-97px;
}
body > div > div.col-9.main-title-bg > div.main-title > div{
    padding-left: initial;
}*/
.icon-symbol{
    position:fixed;
    top:150px;
    right:10px;
}
.icon-symbol ul{
    line-height:15px;
    background-color: blueviolet;
    padding:6px 3px 3px 8px;
    border-radius: 24px;
    font-size:15px;
}
.icon-symbol ul i.active{
    color: white;
}
/* .home-container>.row{ 
    height:100vh;
}*/
/*body > div.home-container > div > div.col-6.light-bgn{
    height:100vh;
}*/
.icon-symbol>ul>li::after{
      content:"...";
      font-weight:300;
      display: block;
      transform:rotate(90deg);
      margin:6px;
}
.icon-symbol>ul>li:nth-last-child(1)::after{
    content:"";
}
/*.icon-symbol>ul>li:nth-child(6)::after{
    content:"";
}*/
.main-menu>ul>li::after{
    content:"...";
    font-weight:300;
    display: block;
    transform:rotate(90deg);
    margin:6px;
}
/*.main-menu>ul>li:nth-last-child(1)::after{
    content:"";
}*/
.main-menu>ul>li:nth-child(1)::before{
    content:"...";
    font-weight:300;
    display: block;
    transform:rotate(90deg);
    margin:6px;
}
.main-menu>ul::after{
    content:"•";
    font-weight:900;
    display: block;
    transform:rotate(90deg);
    margin-left:-5px;
    margin-top:-10px;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.main-menu>ul::before{
    content:"•";
    font-weight:900;
    display: block;
    transform:rotate(90deg);
    margin-left:-5px;
    margin-bottom:10px;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
/* .clickable-image{ 
     width: 200px; 
    height: 200px;
    position:absolute;
    top: -100px;
    right: -100px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 10;
}
.clickable-image{
    display: block;
    width: 50px;
    height: auto;
    position: relative;
    top: -16px;
    right: -706px;
}*/
/* .clickable-image { 
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;

 } */
    /*.image-container{ 
    
    width:5cm;
    
  } */
  .image-link{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .image
  {
    width:2.5cm;
    height: auto;
    display: block;
  }
    .image-text{
    position:absolute;
    bottom: -20px;
    right:0;
    font-size: 10px;
    color:#000;
    padding:5px;
 }
 /* .figcaption{ 
    text-align:center;
    font-size: 3px;
    color:#000;
    padding:0px;
 }*/
 .immi {
    display: flex;
    justify-content: space-evenly;   /* both images equal gap */
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.immi img {
    width: 300px;                    /* fixed equal size */
    height: 300px;
    object-fit: contain;             /* no crop */
    border-radius: 12px;
    background: white;
    padding: 10px;
}

